pipeline/pipelineTestaEnvioEmail.json
{
	"name": "pipelineTestaEnvioEmail",
	"properties": {
		"activities": [
			{
				"name": "pipelineImportaArquivoEEnviaEmail",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineImportaArquivoEEnviaEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Sucess",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "pipelineImportaArquivoEEnviaEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/e09afcdf822942b1917557dac87048c1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=3ufkm2h5iaToX5FDz5VcTDf1TsuBnZcD8eUACc4Kw-A",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineName} SUCCEEDED!\",\n    \"message\": \"Pipeline run finished successfully!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Email Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "pipelineImportaArquivoEEnviaEmail",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/e09afcdf822942b1917557dac87048c1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=3ufkm2h5iaToX5FDz5VcTDf1TsuBnZcD8eUACc4Kw-A",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineName} FAILED!\",\n    \"message\": \"Error: @{activity('pipelineImportaArquivoEEnviaEmail').error.message}\",\n    \"color\": \"Red\",\n    \"File\": \"@{variables('FileName')}\"\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('pipelineImportaArquivoEEnviaEmail').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\"\n    }",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}