pipeline/pipelineImportaArquivoEEnviaEmail.json
{
	"name": "pipelineImportaArquivoEEnviaEmail",
	"properties": {
		"activities": [
			{
				"name": "cp1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table dbo.cars",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Length",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Length",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ArquivoCSV",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('FileSource')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ArquivoToTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send Email Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "cp1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/e09afcdf822942b1917557dac87048c1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=3ufkm2h5iaToX5FDz5VcTDf1TsuBnZcD8eUACc4Kw-A",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \" FAILED!\",\n    \"message\": \"Error: @{variables('FileSource')} \",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \" \",\n    \"pipelineRunId\": \" \",\n    \"time\": \"@{utcnow()}\"\n    }",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileSource": {
				"type": "String",
				"defaultValue": "dbo_Cars.csv"
			}
		},
		"annotations": []
	}
}